# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
*.env
env/Scripts/vcruntime140.dll
env/Scripts/tk86t.dll
*.dll
*.exe
env/Scripts/pip-script.py
env/Scripts/pip3-script.py
env/Scripts/pip3.6-script.py
env/Scripts/f2py.py
env/Scripts/easy_install-script.py
env/Scripts/easy_install-3.6-script.py
env/Scripts/deactivate.bat
env/Scripts/Activate.ps1
env/Scripts/activate.bat
env/Scripts/activate
env/pyvenv.cfg
env/pip-selfcheck.json
